$black: #1E1E1E;
$dark-black: #0C0C0D;
$beige: #D4BE98;
$red: #EA6962;
$lime: #B5BF6B;
$yellow: #D8A657;
$blue: #7DAEA3;
$pink: #D98BA7;
$green: #89B482;

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: $dark-black;
    font-size: 4rem;
    line-height: 1.05em;
}

#root {
    position: relative;
    width: 100%;
    height: 100%;
}

.clock-container {
    margin: auto;
    width: min-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.light-bottom [data-kind="digit"]::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    background-color: #26262677;
    z-index: 10;
}

.gruvbox {
    width: max-content;

    [data-kind="digit"] {
        background-color: $black;
        color: #D4BE98;
        border-radius: 2px;
        margin-right: 0.1em;
    }
}

.dimmer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}